/*--------------POLICE--------------*/
body {
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
#title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
li{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size:smaller;
    font-style: italic;
}
#flex-title {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
/*-------------BUTTON PAGE CONNECT ET JOINUS----------------------------------------------*/
#button {
    font-size: medium;
    height: 25px;
    width: 30%;
}
#button:hover {
    background: #d6d6d6;
}
.addPicture{
    display: flex;
    border: solid 2px rgb(255, 0, 0);
    border-radius: 40px;
}
/*---------------LES INPUT DE CHAQUE ; Mail, Nom, Password-------------------------------*/

#Picture {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    font-size: x-large;
}

/*-------------------------TAILLE IMAGE DE JOINUS--------------------------*/

#flex-title-image > img {
    width: 40%;
}


/*------------------------------Taille des flexs Ect-------------------------------*/
                    #flex-content{
                        margin-top: 35px;
                        display: flex;
                        justify-content: center;
                        font-size: x-large;
                    }
                    #content-center{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 15px;
                        border:solid black 3px;
                        border-radius: 40px;
                    }
                    #content{
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        gap: 12px;
                        border: solid 4px black;
                        padding: 8px;
                        border-radius: 15px;
                    }
                    /*------flex pour centrer le haut/bas ------*/

                    #center{
                        display: flex;
                        justify-content: center;
                    }
                    #flex-title {
                        display: flex;
                        justify-content: center;                        
                    }

