/* POLICE ----------------------------------------------------- */
body {
  font-family: 'Tiro Devanagari Sanskrit', serif;
}
#template {
  margin-top: 80px;
  margin-left: 16%;
  font-family: 'Tiro Devanagari Sanskrit', serif;
}

/*-----------------------------------------------------------*/
.CreatePost {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 24px;
  border: 2px solid black;
  height: 450px;
  width: 1000px;
  box-shadow: 15px 10px 10px rgb(179, 179, 179);
}
.CenterPost{
margin-left: 350px;
}

label {
  margin-top: 20px;
  margin-left: 35px;
  justify-content: center;
  border: 2px solid black;
  background-color: #d6d6d6;
  /* color: #0c86e9; */
  display: flex;
  border-radius: 30px;
  /* height: 50px; */
  width: 170px;
}
.button{
  height: 30px;
  width: 200px;
  border-radius: 20px;
}

/*--------------------------------------------------------------*/
* {
  /* background-color: grey; */
}

::placeholder { 
  color: black;
  opacity: 1;
}

.name{
  border-radius: 15px;
  border: solid 4px black;
  color: #d6d6d6;
  width: 240px;
}

.email{
  border-radius: 15px;
  border: solid 4px black;
  color: #d6d6d6;
  width: 240px;
}

.pwd{
  border-radius: 15px;
  border: solid 4px black;
  color: #d6d6d6;
  width: 240px;
}

.pwd2{
  border-radius: 15px;
  border: solid 4px black;
  color: #d6d6d6;
  width: 240px;
}