@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    margin: 0px;
}

/* header */
header {
    position: relative;
    display: flex;
    top: 0;
    height: 75px;
    width: 100%;
    background: rgb(47, 101, 125);
    background: linear-gradient(90deg, rgba(47, 101, 125, 1) 0%, rgba(79, 158, 191, 1) 20%, rgba(82, 161, 194, 1) 22%, rgba(118, 197, 230, 1) 50%, rgba(212, 241, 255, 1) 76%, rgba(219, 236, 243, 1) 100%);
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 2px solid;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 1%;
    align-items: center;
}

.logo {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    filter: invert(1);
}

.searchdiv {
    display: flex;
    width: 850px;
    justify-content: center;
    align-items: center;
}

.searchheader {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 1s ease;
    background-color: white;
}

.searchheader:hover {
    transition: all 1s ease;
    text-shadow: 2px 2px 2px black;
}

.searchhead::placeholder {
    color: rgb(47, 101, 125);
}

.searchhead::-webkit-calendar-picker-indicator {
    display: none;
}

.searchhead {
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 25px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.Log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: auto;
    margin-left: 10%;
    text-transform: uppercase;
}

.lien {
    display: flex;
    width: 150px;
    height: 40px;
    font-size: 25px;
    align-items: center;
    color: black;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 1s ease;
    border: 0.5px solid black;
}

.lien:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: all 1s ease;
}

.lien:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.user {
    display: flex;
    width: 45px;
    height: 40px;
    font-size: 35px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: all 1s ease;
}

.user:hover {
    color: black;
    text-shadow: 1px 1px 1px black;
    transition: all 1s ease;
}

/* header fin */

.CreatePost {
    display: flex;
    border-radius: 30px;
    padding: 1%;
    border: 2px solid black;
    height: 500px;
    width: 1000px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

p {
    text-decoration: underline;
    text-align: center;
}


.selectcomm {
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(47, 101, 125);
    padding: 1%;
    font-family: 'Noto Sans', sans-serif;
}

.selectcat {
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(47, 101, 125);
    padding: 1%;
    font-family: 'Noto Sans', sans-serif;
}

.center {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

#titre {
    display: flex;
    text-align: center;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 80%;
    border: 3px solid black;
    font-family: 'Noto Sans', sans-serif;
}

textarea {
    display: flex;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    resize: none;
    border: 3px solid black;
    padding: 1%;
    font-family: 'Noto Sans', sans-serif;
}

.PosterContain {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Poster {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 150px;
}

#btn {

    background: rgb(89, 197, 255);
    transition: all 1s ease;
    border-radius: 10px;
    font-size: 20px;
}

#btn:hover {

    color: white;
    text-shadow: 1px 1px 1px black;
    transition: all 1s ease;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}