@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


body {
    margin: 0px;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.logout {
height: 50px;
}

.principale {
    display: flex;
    height: 100%;
    width: 100%;
}

#latestposts {
    display: flex;
    border: 5px solid pink;
    width: 70%;
    height: auto;
}

.account {
    display: flex;
    width:  30%;
    height: 100%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    flex-direction: column;
}

.viewaccount {
    display: flex;
    flex-direction: column;
    border: 5px solid yellow;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;

    justify-content: center;
}

.editaccount{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}



.profilepicture {
    display: flex;
    justify-content: center;

}


.picture {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    justify-content: center;
}

#image {
    width: 180px;
    height: 180px;
    padding: 1%;
    border-radius: 10%;
}

.button {
    border-radius: 50%;
    border: 5px solid black;
    font-size: 30px;
    width: 170px;
    height: 170px;
    margin: 5px;
    background-color: #fa6400;
    font-family: 'Dosis', sans-serif;
}

.button:hover {
    background-color: #fb8332;
}

.logout {
    display: flex;
}

#viewtext {
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    border: 5px solid red;
    font-size: 15px;
    /* color: palegoldenrod; */

}



.setaccount {
    display: flex;
    height: 50%;

}

.display2 {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    justify-content: center;
   border: 2px solid black;
   height: 50%
}

.desc {
border: 1px solid black;
width: auto;
display: flex;
flex-direction: column;
}