@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


body {
    margin: 0px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/409/192/original/abstract-geometric-banner-free-vector.jpg");
    background-size:cover;   
}

.logo {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    filter: invert(1);
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

.divcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title1 {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    background: #ffa500;
    background: linear-gradient(90deg,#ffa500 0%, #00daff 80%);

}

#titletext {
    /* border: solid 2px red; */
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    width: 40%;



}

.buttons {
    display: flex;
    /* border: solid 2px blue; */
    /* width: 20%; */
    margin-right: 10%;
    width: 50%;

    justify-content: flex-end;
}

.square_btn{
    font-family: 'Noto Sans', sans-serif;
    width: 150px;
    height: 40px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.logout {
    height: 50px;
}

.principale {
    display: flex;
    height: 100%;
    width: 100%;
}

#latestposts {
    display: flex;
    /* border: 5px solid pink; */
    width: 50%;
    height: auto;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    font-family: 'Dosis', sans-serif;

}

.bigcard {
    margin: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.75);

}



.bigcardcomments {
    margin: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.75);

}
.divhaut {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    padding-bottom: 1%;
}



#latestcomments {
    display: flex;
    /* border: 5px solid violet; */
    width: 50%;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    font-family: 'Dosis', sans-serif;

}

.account {
    display: flex;
    width:  30%;
    height: 100%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    flex-direction: column;
    margin-top: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    box-shadow: -9px 10px 7px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: -9px 10px 7px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: -9px 10px 7px 1px rgba(0,0,0,0.51);
    padding: 1%;
}
.profilepicture {
    display: flex;
    justify-content: center;

}

.picture {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    justify-content: center;
}

#image {
    width: 180px;
    height: 180px;
    padding: 1%;
    border-radius: 10%;
}

.viewaccount {
    display: flex;
    flex-direction: column;
    /* border: 5px solid yellow; */
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 26px;

}

#viewtext {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* border: 5px solid red; */
    font-size: 20px;
    font-family: 'Dosis', sans-serif;

}

.desc {
    /* border: 1px solid black; */
    width: auto;
    display: flex;
    flex-direction: column;
}

.editaccount{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.textedit {
    /* border: 2px solid #fa6400; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
}

.button {
    border-radius: 50%;
    /* border: 5px solid black; */
    font-size: 24px;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: #fa6400;
    font-family: 'Dosis', sans-serif;
}

.button:hover {
    background-color: #fb8332;
}

.logout {
    display: flex;
}

.setaccount {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.display2 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: center;
    /* border: 2px solid black; */
    height: 50%
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    z-index: 8;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }


  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

textarea {
    resize: none;
}

/* Annimation pour la modal */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  

  .button-28 {
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    margin: 2px;
    padding: 16px 24px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }




  .divtop {
    display: flex;
    width: 100%;
    height: 100px;
}


.content {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    padding: 1%;
    width: auto;
    align-items: center;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 1%;
    width: 100%;
    border: double 5px #00529F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    transition: all .4s ease;
    font-size: 22px;
    z-index: 5;
    font-family: 'IBM Plex Sans', sans-serif;
}

.card:hover {
    border-radius: 40px;
  }

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.community {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.divbas {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1%;
    height: auto;
    align-items: center;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* header */
header {
    position: relative;
    display: flex;
    top: 0;
    height: 75px;
    width: 100%;
    background: rgb(47,101,125);
    background: linear-gradient(90deg, rgba(47,101,125,1) 0%, rgba(79,158,191,1) 20%, rgba(82,161,194,1) 22%, rgba(118,197,230,1) 50%, rgba(212,241,255,1) 76%, rgba(219,236,243,1) 100%);
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 2px solid;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 1%;
    align-items: center;
}

.logo {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    filter: invert(1);
}

.searchdiv {
    display: flex;
    width: 850px;
    justify-content: center;
    align-items: center;
}

.searchheader {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 1s ease;
    background-color: white;
}

.searchheader:hover {
    transition: all 1s ease;
    text-shadow: 2px 2px 2px black;
}

.searchhead::placeholder {
    color:rgb(47,101,125);
}

.searchhead::-webkit-calendar-picker-indicator {
    display: none;
  }

.searchhead {
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 25px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.Log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: auto;
    margin-left: 10%;
    text-transform: uppercase;
}

.lien {
    display: flex;
    width: 150px;
    height: 40px;
    font-size: 25px;
    align-items: center;
    color: black;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 1s ease;
    border: 0.5px solid black;
    }
    
    .lien:hover {
        color: white;
        text-shadow: 1px 1px 1px black;
        transition: all 1s ease;
    }
    .lien:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
            inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    
    .user {
    display: flex;
    width: 45px;
    height: 40px;
    font-size: 35px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: all 1s ease;
    }
    
    .user:hover {
        color: black;
        text-shadow: 1px 1px 1px black;
        transition: all 1s ease;
    }

/* header fin */

input[type="file"] {
    display: none;
}

.custom-file-upload{
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    margin: 2px;
    padding: 16px 24px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .custom-file-upload:disabled {
    pointer-events: none;
  }
  
  .custom-file-upload:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .custom-file-upload:active {
    box-shadow: none;
    transform: translateY(0);
  }