/*--------------POLICE--------------*/
body {
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
#flex-title {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    text-align: center;
}
/*-------------BUTTON PAGE CONNECT ET JOINUS----------------------------------------------*/
#button {
    font-size: medium;
    height: 30px;
    width: 150px;
}
#button:hover {
    background: #d6d6d6;
}
/*---------------LES INPUT DE CHAQUE ; Mail, Nom, Password-------------------------------*/

#email {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
#password {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
/*-------------------------TAILLE IMAGE DE JOINUS--------------------------*/

#flex-title-image > img {
    width: 40%;
}
button > img {
    width: 11%;
}

/*------------------------------Taille des flexs Ect-------------------------------*/
                    #content{
                        display: flex;
                        flex-direction: column;
                        border: solid black 3px;
                        border-radius: 40px;
                        padding: 10px; 
                    }
                    #content-center{
                        display: flex;
                        justify-content: center;
                    }
                    /*------flex pour centrer le haut------*/
                    #flex-title {
                        display: flex;
                        justify-content: center;                        
                    }
                    #centerBottom {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 15px;
                        padding-left: 9%; 
                        border: solid black 3px;
                        border-radius: 40px;
                    }
                    #centerError{
                        display: flex;
                        flex-direction: row;
                        gap: 25px;
                        padding-left: 29%;
                    }
