body {
    margin: 0px;
    background-image: url("https://i.pinimg.com/originals/5c/e6/b9/5ce6b97ce3bde0864188a5d89604da1c.jpg");
    background-size:cover;   
}

header {
    position: relative;
    display: flex;
    top: 0;
    height: 75px;
    width: 100%;
    background: linear-gradient(90deg, rgba(238, 50, 78, 1) 0%, rgba(254, 190, 16, 1) 100%);
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;

}

.container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 1%;
    align-items: center;
}

.logo {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    filter: invert(1);
}

.searchdiv {
    display: flex;
    width: 850px;
    justify-content: center;
    align-items: center;
}

.searchheader {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width: 100%;
    color: black;
}

.searchhead {
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 25px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

.Log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: auto;
    margin-left: 10%;
}

#viewpost {
    margin: 1% 10%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 5px double rgba(238,50,78,1);
    border-radius: 40px;
    padding: 2%;
    justify-content: center;
}
#viewcommentaire{
    display: flex;
 align-items: center;
    flex-direction: column;
}

.post {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid red;
    padding: 1%;
}

.title {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    font-size: 40px;
    align-items: center;
}
.divtop {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.divtop2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 1%;
}
.divcontent{
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 2%;
    border: 2px solid black;
    border-radius: 40px;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  width: 50%;
    height: 100%;
}

.content {
    justify-content: center;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 2%;
    border: 2px solid black;
    border-radius: 40px;
}
.contents {
    display: flex;
    width: auto;
    height: auto;
    font-size: 20px;
    align-items: center;
    margin-bottom: 1%;
}

.divbottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid red;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;   
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
    z-index: 10;
}

.like:hover {
    color: rgb(49, 172, 49);
}

.dislike {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;   
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
    z-index: 10;
}

.divbottom2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}


.username {
    justify-content: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 20px;

}

.commentaire {
    margin: 1% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: double  4px rgba(254, 190, 16, 1);
    border-radius: 40px;
    height: auto;
    width: auto;
    padding: 1%;
 
    /* position: fixed;
    bottom: 20px;
    background-color: white;
    opacity: 0; */

}
/* .commentaire:hover{
    opacity: 1;
} */

textarea {

    border-radius: 10px;
    background-color: #d6d6d6;
    width: 800px;
    margin-left: 100px;
    margin-top: 30px;
    resize: none;
    border: 3px solid black;
}

.PosterContain {

    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Poster {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 150px;
}



.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.btn {
    height: 60px;
    width: 60px;
    background:rgba(238,50,78,1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border: 5px double black;
}


.couleur{
    filter: invert(1);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn{
    height: 60px;
    width: 60px;
    background:rgba(238,50,78,1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    border: 5px double black;
  }

  #content{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
  }