@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    margin: 0px;
    background-image: url("https://i.pinimg.com/originals/5c/e6/b9/5ce6b97ce3bde0864188a5d89604da1c.jpg");
    background-size:cover;   
}

header {
    position: relative;
    display: flex;
    top: 0;
    height: 75px;
    width: 100%;
    background: linear-gradient(90deg, rgba(238,50,78,1) 0%, rgba(254,190,16,1) 100%);
    text-decoration: none;
    box-shadow: 10px;
    font-family: 'Noto Sans', sans-serif;
}


.logo {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    filter: invert(1);
}

.searchdiv {
    display: flex;
    width: 850px;
    justify-content: center;
    align-items: center;
}

.searchheader {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width: 100%;
    color: black;
    border: 5px double rgba(238,50,78,1);
}

.searchhead {
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 25px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
<<<<<<< HEAD
=======
    text-transform: uppercase;
>>>>>>> d0a425c1041d47a4b225164302f2e9989fc202b7
}

.Log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: auto;
    margin-left: 10%;
}

#viewpost {
    margin: 1% 10%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 5px double rgba(238, 50, 78, 1);
    border-radius: 40px;
    padding: 2%;
    justify-content: center;
}

#viewcommentaire {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid red;
    padding: 1%;
}

.title {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    font-size: 40px;
    align-items: center;
}

.divtop {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.divtop2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 1%;
}

.divcontent {
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 2%;
    border: 2px solid black;
    border-radius: 40px;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content {
    justify-content: center;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 2%;
    border: 2px solid black;
    border-radius: 40px;
}

.contents {
<<<<<<< HEAD

=======
>>>>>>> d0a425c1041d47a4b225164302f2e9989fc202b7
    display: flex;
    width: auto;
    height: auto;
    font-size: 20px;
    align-items: center;
    margin-bottom: 1%;
}

.divbottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid red;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
    z-index: 10;
}
.lien {
    display: flex;
    width: 150px;
    height: 40px;
    font-size: 25px;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 40px;
    border: 2px solid black;
    justify-content: center;
    text-decoration: none;
    }
    
    .lien:hover {
    background-color: rgba(255, 0, 0, 1);
    }
    
    .lien:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    .user {
        display: flex;
        width: 45px;
        height: 40px;
        font-size: 25px;
        align-items: center;
        text-shadow: 1px 1px 1px #000;
        border-radius: 40px;
        border: 2px solid black;
        justify-content: center;
        text-decoration: none;
        color: black;
        }
        
        .user:hover {
        background-color: black;
        color: white;
        }

.like:hover {
    color: rgb(49, 172, 49);
}

.dislike {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
    z-index: 10;
}

.divbottom2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}


.username {
    justify-content: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 20px;

}

.commentaire {
    margin: 1% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: double 4px rgba(254, 190, 16, 1);
    border-radius: 40px;
    height: auto;
    width: auto;
    padding: 1%;

    /* position: fixed;
    bottom: 20px;
    background-color: white;
    opacity: 0; */

}

/* .commentaire:hover{
    opacity: 1;
} */

textarea {

    border-radius: 10px;
    background-color: #d6d6d6;
    width: 800px;
    margin-left: 100px;
    margin-top: 30px;
    resize: none;
    border: 3px solid black;
}

.PosterContain {

    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Poster {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 150px;
}


.btn {
    height: 60px;
    width: 60px;
    background: rgba(238, 50, 78, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border: 5px double black;
}


.couleur {
    filter: invert(1);
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    height: 60px;
    width: 60px;
    background: rgba(238, 50, 78, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    border: 5px double black;
}

#content {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
}