<!DOCTYPE html>
<html>
    <header>
        <title>Ynnit</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="changeemail.css">
        <link rel="stylesheet" href="font-button.css">

    </header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');
</style>
    <body>
        <button class="button" onclick = "changeColor('white');" >Mode Clair</button>
        <button class="button" onclick = "returnChangeColor('rgb(64, 64, 64)');" >Mode foncé</button> 
                
        <div id="flex-content">
            <div id="flex-title">
                <h1 id="flex-title-image">
                    <img src="connected.png">
                    Modify your Email
                </h1>
            </div>
    
            <div id="content-center">
                <div id="content">
                    <li>New email:</li>
                    <input type="email" id="email1" class="email" name="email" placeholder="john.doe@example.com" required>
    
                    <li>Confirm new email :</li>
                    <input type="email" id="email2" name="email2" placeholder="john.doe@example.com" required>
                <div id="center">
                    <button id="button" type="submit">Change</button>
                </div>

                    <p id="error" style="color: red"></p>
                </div>
            </div>
        </div>
        
    <script type="module" src='font-button.js'></script>
    <script type="module" src='/js/changeemail.js'></script>

    </body>
</html>
