<!DOCTYPE html>
<html>
    <header>
        <title>PrintCommunity</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/communityPrint.css">
        <link rel="stylesheet" href="/css/font-button.css">
    </header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');
</style>
        <body>
            <div id="content-button">
                <button class="button" onclick = "changeColor('white');" >Mode Clair</button>
                <button class="button" onclick = "returnChangeColor('rgb(64, 64, 64)');" >Mode foncé</button> 
            </div>
            
                <div id="template-center">
                    <div id="container-row">

                        <div class="box">
                            <div id="container-column">
                                <div id="little-column">
                                    <h1 id="flex-title">
                                        Name of Community :
                                    </h1>
                                    <li>{{.name.community}}</li>
                                </div>
                                <div id="flex-community">
                                    <p>{{.Description}}</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="box">
                            <div id="container-column">
                                <div id="little-column">
                                    <h1 id="flex-title">
                                        About community :
                                    </h1>
                                </div>
                                <div id="little-column">
                                    Date :
                                </div>
                                <li>{{.Date.create}}</li>
                                <div id="little-column">
                                    Type :
                                </div>
                                <li>{{.type.community}}</li>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    <li id="error" style="color: red"></li>
                </div>
                    
        <script type="text/javascript" src="/js/font-button.js" ></script>
        <script type="module" src='/js/signin.js'></script>
    </body>
</html>