/* POLICE ----------------------------------------------------- */
body {
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
#template {
    margin-top: 80px;
    margin-left: 16%;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
/* templateTitle ----------------------------------------------------- */
#templatecolor{
    border-radius: 10px;
    width:50%;
    text-align: center;
    color:black;
    border:solid black 3px;
    /* text-decoration: overline underline; */
    background-color: rgb(153, 153, 153);
    margin-right: 75%;
}

/* INPUT COLOR AND COLORTEXT ----------------------------------------------------- */
#form {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}
input:hover{
    border:solid black 3px;
}
#input {
    color:rgb(255, 255, 255);
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
#formDescription {
    color:rgb(255, 255, 255);
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    font-weight: bold;
    width: 720px;
    height: 350px;
    font-size: x-large;
}
#flex-form{
    display: flex;
    /* background-color: rgb(91, 91, 91); */
    color: aliceblue;
    grid-row: 10;
    row-gap: 10px;
}
/*--------------------zone de contour POST.CSS DE ROMAIN-----------------------*/
/* .center {
    display: flex;
    justify-content: center;
} */
.container {
    display: flex;
    height: 350px;
    flex-direction: column;
    padding: 10px;
    width: auto;
}
.selectcomm {
    display: flex;
    text-align: center;
    margin-bottom: 16px;
    border-radius: 20px;
    border: 2px solid black;
    height: 60px;
    width: 300px;
}
.CreatePost {
    border-radius: 30px;
    padding: 10px;
    border: 2px solid black;
    height: 430px;
    display: flex;
    width: 1000px;
    flex-direction: column;
    box-shadow: 15px 10px 10px rgb(179, 179, 179);
}
#titre {
    text-align: center;
    border-radius: 10px;
    background-color: #d6d6d6;
    display: flex;
    height: 50px;
    width: 800px;
    margin-left: 100px;
    border: 3px solid black;
}
textarea {
    border-radius: 10px;
    background-color: #d6d6d6;
    width: 800px;
    margin-left: 100px;
    margin-top: 30px;
    resize: none;
    border: 3px solid black;
}
.PosterContain {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.Poster {
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 130px;
}
#btnControl {
    display: none;
}
label {
    margin-top: 20px;
    justify-content: center;
    border: 2px solid black;
    background-color: #d6d6d6;
    color: #0c86e9;
    display: flex;
    border-radius: 30px;
    height: 50px;
    width: 170px;
}
#btnControl:checked+label>div {
    background-color: #0b7dda;
    color: #d6d6d6;
    /* border: 3px solid purple; */
}
#colored {
    justify-content: center;
    background-color: #d6d6d6;
    color: black;
    display: flex;
    border-radius: 30px;
    height: 50px;
    width: 170px;
}

/* 
.button :active {
    border-radius: 9px;
    background: #333333;
    box-shadow: inset -17px 17px 30px #1a1a1a,
                inset 17px -17px 30px #4d4d4d;
} 
#id {
    border-radius: 9px;
    background: #3d3d3d;
    box-shadow: inset -17px 17px 33px #131313;
    border:#131313 solid 1px;  
}
*/