<!DOCTYPE html>
<html>
    <header>
        <title>Ynnit</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/delete.css">
    </header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');
</style>
    <body>
        <div id="flex-content">
        
            <div id="content-center">
                <div id="flex-title">
                    <h1 id="flex-title-image">
                        <img src="/css/connected.png"><br/>
                        Are You Sure ?
                    </h1>
                </div>
                
                <div id="content">
                    <div class="frame">
                        <button id="pasdelete" class="custom-btn btn-13"><h1>No</h1></button>
                        <button id="delete" class="custom-btn btn-13"><img id="yes" src="/css/trash.png"></button>
                    </div>
                </div>

                  
                    
                <p id="error" style="color: red"></p>
            </div>
        </div>

        <script type="module" src='/js/delete.js'></script>
    </body>
</html>



<!-- <!DOCTYPE html>
<html>
    <header>
        <title>Ynnit</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/profile.css">
    </header>

    <body>
        <h1>Sure ?</h1>
        <button id="No" type="submit">No</button>

        <button id="Yes" type="submit">Yes</button>
    </body>

    <script type="module" src='/js/delete.js'></script>

</html> -->