<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./edit_profile.css">    
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.ico" />

    <title>Edit acocunt</title>
</head>
<body>
    <div id = container>
        <h1>Edit your account</h1>

        
            <h2>Profile informations</h2>
            <form action="" method="get" class="formulaire">
                <div class="formu">
                    <label for="username">Edit username : </label>
                    <input type="text" name="username" id="name" class = "form" required>
                </div>
        
                <div class="formu">
                    <label for="biography">Edit biography : </label>
                    <textarea name="biography"  class="form"></textarea>
                </div>
        
                <div class="formu">
                    <label for="birthdate">Edit birthdate : </label>
                    <input type="text" name="birthdate" id="birthdate" class="form" required>
                </div>
        

       
            <h2>Account settings</h2>

            
                <div class="formu">
                    <label for="email">Edit email : </label>
                    <input type="text" name="email" id="email" class="form" required>
                </div>

                <div class="formu">
                    <label for="password">Edit password : </label>
                    <input type="password" name="password" id="password" class="form" required>
                </div>
                <button type="submit" class="button">Save</button>
            </form>
        

    </div>

    


</body>
</html>