<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit acocunt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/edit_profile.css">
</head>
<body>
    <div id = container>
            <div class = "display">
                <p class="titre1">Customize profile</p>
                <label for="username">Edit username : <br></label>
                <input type="text" name="username" id="name" class = "form" placeholder="Display name" required>                
                <label for="biography">Edit biography : <br></label>
                <textarea name="biography" maxlength="200" class="form" placeholder="About you (200 characters max)"></textarea>
                <label for="birthdate">Edit birthdate : <br></label>
                <input type="date" name="birthdate" id="birthdate" class="form" placeholder="About you (200 characters max)"required>
                


                <p class="titre1">Avatar and banner</p>

                <label for="avatar">Edit avatar : </label>
                <input type="file" id="avatar" name="avatar" accept="image/*">

                <label for="banner">Edit banner : </label>
                <input type="file" id="banner" name="banner" accept="image/*">

                <p class="titre1">Account settings</p>


                <label for="email">Edit email : <br></label>
                <input type="text" name="email" id="email" class="form" placeholder="john.doe@example.com" required>

                <label for="password">Edit password : <br></label>
                <input type="password" name="password" id="password" class="form" min = "8" required>
                <br>
                <button type="submit" class="button">Save</button>

            </div>


           


</body>
</html>