#button {
    background: #0b7dda;
    border-radius: 10px;
    font-weight: bold;
}
#button:hover {
    background: #d6d6d6;
}

/* BOUTON THEME BLANC / NOIR */

.button {
    width: 120px;
    height: 24px;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    background: #d1d1d1;    
    box-shadow: inset -17px 17px 33px #555555;
    border:#131313 solid 1px; 
}
.button:hover {
    background: #d6d6d6;
}
/*--------CONTENU DES BOUTONS-------*/
#content-button {
    display: flex;
    gap: 5px;
    padding-left:5px;
}