<!DOCTYPE html>
<html>
    <header>
        <title>Ynnit</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/joinus.css">
    </header>

    <body>
        <label for="name">Name:</label>
        <input type="name" id="name" name="name" placeholder="BocMacFrite" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="john.doe@example.com" required><br><br>

        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd" minlength="8" autocomplete="on" required><br><br>

        <label for="pwd2">Password:</label>
        <input type="password" id="pwd2" name="pwd2" minlength="8" autocomplete="on" required><br><br>

        <button id="button" type="submit">Join Us</button>
        <p id="error" style="color: red"></p>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js%22%3E</script>
    <script type="module" src='/js/joinus.js'></script>
</html>