/*--------------POLICE--------------*/
body {
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
#flex-title {
    display: flex;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    text-align: center;
}
/*-------------BUTTON PAGE CONNECT ET JOINUS----------------------------------------------*/
#button {
    font-size: medium;
    height: 30px;
    width: 150px;
}
#button:hover {
    background: #d6d6d6;
}
/*---------------LES INPUT DE CHAQUE ; Mail, Nom, Password-------------------------------*/
#name {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
#email {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
#password {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
#verify {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    font-size: x-large;
}
/*-------------------------TAILLE IMAGE DE JOINUS--------------------------*/

#flex-title-image > img {
    width: 40%;
}
button > img {
    width: 11%;
}

/*------------------------------Taille des flexs Ect-------------------------------*/
                    /*------flex pour centrer le haut------*/
                    #form {
                        display: flex;
                        flex-direction: column;
                        margin-left: 37%;
                    }
                    #flex-title {
                        display: flex;
                        justify-content: center;
                        padding-left: 9%;
                        
                    }
                    #centerTop {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        width: 250px;
                    }
                    #centerBottom {
                        display: flex;
                        flex-direction: row;
                        gap: 25px;
                        margin-left: 3%;  
                    }
/*--------CONTENU DES BOUTONS-------*/
#content-button {
    display: flex;
    gap: 5px;
    padding-left:5px;
}