<!DOCTYPE html>
<html>
<header>
    <title>Ynnit</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/joinus.css">
    <link rel="stylesheet" href="/css/font-button.css">
</header>

<body>

    <div class="container">

        <div class="select">

            <label for="name">Name:</label>
            <input type="name" id="name" name="name" maxlength="15" placeholder="Insert Username" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="john.doe@example.com" required><br><br>

            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="pwd" minlength="8" autocomplete="on" placeholder="Enter password"required><br><br>

            <label for="pwd2">Password:</label>
            <input type="password" id="pwd2" name="pwd2" minlength="8" autocomplete="on"placeholder="Enter password" required><br><br>

            <button id="btn" type="submit">Join Us</button>
            <p id="error" style="color: red"></p>

        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
    <script type="module" src='/js/joinus.js'></script>
</body>

</html>