<!DOCTYPE html>
<html>
<header>
    <title>Join us</title>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.discordapp.com/attachments/887611590873088011/981110067531243570/YnnitLogo.png">

    <link rel="stylesheet" href="/css/joinus.css">
</header>

<body>

    <div class="container">

        <div class="select">

            <label for="name">Name :</label>
            <input class="no-outline" id="name" maxlength="15" placeholder="Choose an username" >

            <label for="email">Email :</label>
            <input class="no-outline" id="email" placeholder="Enter an email" >

            <label for="pwd">Password :</label>
            <input type="password" class="no-outline" id="pwd" autocomplete="on" placeholder="Enter password">

            <label for="pwd2">Repeat Password:</label>
            <input type="password" class="no-outline" id="pwd2" name="pwd2" minlength="8" autocomplete="on"placeholder="Repeat password" required><br><br>

            <button id="btn" type="submit">Join Us</button>
            <p id="error" style="color: red"></p>
            <div class="google">Or connect via Google :</div>

            <script src="https://accounts.google.com/gsi/client" async defer></script>
    
            <script type="module" src='/js/joinusgoogle.js'></script>
    
          
            <div id="buttonDiv"></div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
    <script type="module" src='/js/joinus.js'></script>
</body>

</html>