<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="post.css">
        <link rel="stylesheet" href="font-button.css">
        <title>postTemplate</title>
    </head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');
</style>
    <body>
        <button class="button" onclick = "changeColor('white');" >Mode Clair</button>
        <button class="button" onclick = "returnChangeColor('rgb(64, 64, 64)');" >Mode foncé</button>
        
        <div id="template">
            <div class="container">
                <div class="CreatePost">
                    <span>
                    <h3 id="templatecolor">Create a Post :</h3>
                        <select name="communité" class="selectcomm">
                            <option value="">Choose the type</option>
                            <option value="">gaming</option>
                            <option value="">music</option>
                            <option value="">test ect..</option>
                        </select>
                    </span>
                        <input  id="titre" type="text" maxlength="300" size="50" placeholder="Title" required>
                        <textarea id="content"name="" cols="30" rows="10" placeholder="Text (optional)"></textarea>
                            <input type="checkbox" id="btnControl" />
                            <label for="btnControl">
                                <div id="colored">
                                    + informatique
                                </div>
                            </label>

                <p id="error" style="color: red"></p>
                
                    <div class="PosterContain">
                        <div class="Poster">
                            <button class="btn" type="submit"> test</button>
                            <button class="btn">Delete</button>
                        </div>
                    </div>

            </div>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="font-button.js" ></script>
    <script type="module" src='post.js'></script>
</body>
</html>