<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/post.css">
    <link rel="stylesheet" href="./css/font-button.css">
</head>

<body>
    <button class="button" onclick = "changeColor('white');" >Mode Clair</button>
    <button class="button" onclick = "returnChangeColor('rgb(64, 64, 64)');" >Mode foncé</button> 

    <div class="container">


        <select name="communité" class="selectcomm" id="select">
            <option value="0">Choose the community</option>
        </select>


        <div class="CreatePost">
            <p><strong>Create a Post:</strong> </p>
           
                <input  id="titre" type="text" maxlength="50" size="50" placeholder="Title" required>
                <textarea id="content"name=""  cols="30" rows="10" placeholder="Text (optional)"></textarea>
            
                      <input type="checkbox" id="btnControl" />
            <label for="btnControl">
                <div id="colored">
                    + informatique
                </div>
            </label>
          
            <p id="error" style="color: red"></p>

            <div class="PosterContain">

                <div class="Poster">
                    <button id="btn" type="submit" href="/" > Post </button>
                    <button onclick="window.location.href='/'">Cancel</button>
                </div>

            </div>

        </div>

    </div>
    </div>
</body>
<script type="module" src='/js/post.js'></script>
<script src="/js/font-button.js" ></script>

</html>