<!DOCTYPE html>
<html>
    <header>
        <title>Ynnit</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/profile.css">
    </header>

    <body>
        <button id="logout" type="submit">logout</button>

        <button id="home">Home</button>

        <button id="changeemail" type="submit">change email</button>

        <button id="changedesc" type="submit">change desc</button>

        <button id="changepass" type="submit">change pass</button>

        <button id="delete" type="submit">delete</button>

    </body>

    <script type="module" src='/js/profile.js'></script>

</html>