<!DOCTYPE html>
<html>

<head>
    <title>viewpost</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/viewpost.css">
</head>

<body>
    <div id="viewpost">

    </div>
    <div class="commentaire">
         Commentaire :

    <textarea id="content"name="" cols="30" rows="10" placeholder="Text (optional)"></textarea>
    <div class="PosterContain">

        <div class="Poster">
            <button id="btn" type="submit" href="/" > Post </button>
            <button class="test" href="/"> Cancel</button>
        </div>

    </div>
    </div>
   

</body>
<script type="module" src='/js/viewPost.js'></script>

</html>