<!DOCTYPE html>
<html>

<head>
    <title>viewpost</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/viewpost.css">
</head>

<body>
    <div id="viewpost">

    </div>

</body>
<script type="module" src='/js/post.js'></script>
<script type="module"> 
    import {onClickPost} from '/js/post.js'

    document.querySelector("#submitPost").addEventListener('click', onClickPost)


    fetch("/apiposts/")
                        .then((response) => response.json())
                        .then(function newCard(posts) {
                                posts.forEach(element => {
                                        
                                });
                        })


</script>
</html>